absl-py==1.1.0
albumentations==0.4.6
appnope==0.1.3 ; platform_system == "Darwin" or sys_platform == "darwin"
argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
arviz==0.12.0
asn1crypto==0.24.0
asttokens==2.2.1
astunparse==1.6.3
atomicwrites==1.4.1 ; sys_platform == "win32"
attrs==21.4.0
backcall==0.2.0
backports-zoneinfo==0.2.1
basenet==0.1.0
beautifulsoup4==4.11.1
bleach==5.0.1
blis==0.7.8
boto3==1.24.18
botocore==1.27.18
bs4==0.0.1
cachetools==4.2.4
catalogue==1.0.0
certifi==2022.5.18.1
cffi==1.15.0
cftime==1.6.0
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.3
cloudpickle==2.1.0
colorama==0.4.5
configspace==0.4.20
contextlib2==21.6.0
convertdate==2.4.0
cryptography==37.0.2
custom-inherit==2.3.2
cycler==0.11.0
cymem==2.0.6
cython==0.29.24
d3m-automl-rpc==1.2.3
d3m-interface==0.9.0
d3m==2022.5.5
dask==2022.6.1
data-profile-viewer==0.2.7
dataclasses==0.6
datamart-geo==0.2.1
datamart-isi==2.1.10
datamart-profiler==0.9
datamart-rest==0.2.7
datamart==2021.3.17
datasets==1.6.1
datasketch==1.5.7
date-extractor==3.9.1
dateparser==1.1.1
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.5.1
distributed==2022.6.1
docker==5.0.3
easydict==1.9
efficientnet-pytorch==0.6.3
entrypoints==0.4
executing==1.2.0
faiss-cpu==1.7.0
faker==13.14.0
fastai==2.3.0
fastcore==1.3.29
fastdtw==0.3.4
fastjsonschema==2.15.3
fastprogress==1.0.2
featuretools==0.13.0
filelock==3.7.1
flatbuffers==2.0
fonttools==4.33.3
frozendict==1.2
fsspec==2022.5.0
future==0.18.2
gast==0.3.3
gensim==3.8.3
gitdb==4.0.9
gitpython==3.1.27
gluonts==0.6.0
google-auth-oauthlib==0.4.6
google-auth==1.35.0
google-pasta==0.2.0
gputil==1.4.0
graphviz==0.8.4
graspy==0.3.0
grpcio==1.46.3
h5py==2.10.0
hdbscan==0.8.26
heapdict==1.0.1
hijri-converter==2.2.4
holidays==0.14.2
html5lib==1.1
huggingface-hub==0.0.19
hyppo==0.1.3
idna==2.6
imageio==2.6.0
imgaug==0.4.0
importlib-metadata==4.11.4
inflection==0.5.1
iniconfig==1.1.1
ipykernel==6.17.1
ipython-genutils==0.2.0
ipython==8.12.0
isodate==0.6.1
javabridge==1.0.19
jedi==0.18.2
jinja2==3.1.2
jmespath==1.0.1
joblib==1.1.0
jsonlines==3.0.0
jsonpath-ng==1.5.3
jsonschema==4.0.1
jupyter-client==7.3.4
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
keras-applications==1.0.8
keras-preprocessing==1.1.2
keras-resnet==0.1.0
keras==2.3.1
keyring==10.6.0
keyrings-alt==3.0
kiwisolver==1.4.3
korean-lunar-calendar==0.2.1
langdetect==1.0.9
lazy-import==0.2.2
liac-arff==2.5.0
lightgbm==2.3.0
lime==0.2.0.1
lingam==1.6.0
llvmlite==0.38.1
locket==1.0.0
lz4==3.1.3
markdown==3.3.7
markupsafe==2.1.1
matplotlib-inline==0.1.6
matplotlib==3.5.2
metalearn==0.6.2
mistune==0.8.4
msgpack==1.0.4
multiprocess==0.70.13
munch==2.5.0
murmurhash==1.0.7
mxnet==1.6.0
mypy-extensions==0.4.3
nbclient==0.6.4
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
netcdf4==1.6.0
networkx==2.4
nltk==3.7
nose==1.3.7
notebook==6.4.12
numba==0.55.2
numpy==1.18.2
oauthlib==3.2.0
ontospy==1.9.9.4
openml==0.11.0
opt-einsum==3.3.0
packaging==21.3
pandas==1.1.3
pandocfilters==1.5.0
parso==0.8.3
partd==1.2.0
patsy==0.5.2
pexpect==4.8.0 ; sys_platform != "win32"
pgmpy==0.1.11
pickleshare==0.7.5
pillow==7.1.2
pip==23.0.1
pipelineprofiler==0.1.18
plac==1.1.3
pluggy==1.0.0
ply==3.11
pmdarima==1.8.1
preshed==3.0.6
pretrainedmodels==0.7.4
progressbar2==4.0.0
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==4.21.1
psutil==5.9.1
psycopg2-binary==2.9.3
ptyprocess==0.7.0 ; os_name != "nt" or sys_platform != "win32"
pure-eval==0.2.2
py==1.11.0
pyarrow==8.0.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.21
pycrypto==2.6.1
pydantic==1.6.2
pydot==1.4.2
pydotplus==2.0.2
pyfiglet==0.8.post1
pygments==2.12.0
pymc3==3.9.0
pymeeus==0.5.11
pynisher==1.0.5
pyopenssl==17.5.0
pyparsing==3.0.9
pyprctl==0.1.3
pyprob==1.5.0
pyrfr==0.9.0
pyro-ppl==0.3.0
pyrsistent==0.18.1
pytest==7.1.2
python-dateutil==2.8.2
python-lzo==1.12
python-memcached==1.59
python-utils==3.3.3
pytorch-pretrained-bert==0.4.0
pytypes==1.0b10
pytz-deprecation-shim==0.1.0.post0
pytz==2022.1
pywavelets==1.3.0
pywin32-ctypes==0.2.0 ; sys_platform == "win32"
pywin32==227 ; sys_platform == "win32" or platform_system == "Windows"
pywinpty==2.0.10 ; os_name == "nt"
pyxdg==0.25
pyyaml==5.4.1
pyzmq==23.2.0
rdflib==6.1.1
regex==2022.3.2
requests-oauthlib==1.3.1
requests==2.23.0
resampy==0.2.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rltk==2.0.0a13
rpi-d3m-primitives==0.2.7
rsa==4.8
s3transfer==0.6.0
sacremoses==0.0.53
scikit-image==0.17.2
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.11.2
secretstorage==2.3.1
segmentation-models-pytorch==0.1.3
selenium==3.141.0
send2trash==1.8.0
sentence-transformers==0.3.0
sentencepiece==0.1.91
setuptools==67.6.1
shap==0.37.0
shapely==1.8.2
six==1.16.0
slicer==0.0.3
smac==0.13.1
smart-open==6.0.0
smmap==5.0.0
sortedcontainers==2.4.0
soundfile==0.10.3.post1
soupsieve==2.3.2.post1
spacy==2.3.7
sparqlwrapper==2.0.0
sqlalchemy==1.2.16
sqlitedict==2.0.0
sri-d3m==1.9.6
srsly==1.0.5
stack-data==0.6.2
statsmodels==0.11.1
stopit==1.1.2
tablextract==1.2.5
tblib==1.7.0
tensorboard-plugin-wit==1.8.1
tensorboard==2.2.2
tensorflow-estimator==2.2.0
tensorflow-gpu-estimator==2.2.0
tensorflow-gpu==2.2.0
termcolor==1.1.0
terminado==0.17.1
theano==1.0.4
thinc==7.4.5
threadpoolctl==3.1.0
tifffile==2020.8.13
timm==0.3.2
tinycss2==1.1.1
tokenizers==0.10.3
tomli==2.0.1
toolz==0.11.2
torch==1.7.0
torchvision==0.8.1
tornado==6.1
tqdm==4.48.2
traitlets==5.3.0
transformers==4.5.1
tslearn==0.4.1
typing-extensions==4.2.0
typing-inspect==0.7.1
typing==3.7.4.3
tzdata==2022.1
tzlocal==4.2
ujson==1.35
urllib3==1.25.11
visual-text-explorer==0.1.9
wasabi==0.9.1
wcwidth==0.2.6
webcolors==1.11.1
webencodings==0.5.1
websocket-client==1.3.2
werkzeug==2.1.2
wget==3.2
wheel==0.40.0
wikipedia-api==0.4.4
wrapt==1.14.1
xarray==2022.3.0
xgboost==0.90
xmltodict==0.13.0
xxhash==3.0.0
zict==2.2.0
zipp==3.8.0
