absl-py==0.2.2
alabaster==0.7.10
astor==0.6.2
Babel==2.6.0
backcall==0.1.0
bleach==1.5.0
certifi==2018.4.16
chardet==3.0.4
cloudpickle==0.5.3
ConfigSpace==0.4.6
cvxpy==1.0.3
cycler==0.10.0
Cython==0.28.3
-e git+https://gitlab.com/datadrivendiscovery/d3m.git@9e4cd16dcac2d06894e201ba7384b82a42bf81eb#egg=d3m
-e git+https://gitlab.com/datadrivendiscovery/metadata.git@de9d3dea0fffb1040c423bb1f84b15d15c1476e8#egg=d3m_metadata
d3metafeatureextraction
dask==0.17.5
dateparser==0.6.0
decorator==4.3.0
dill==0.2.7.1
docutils==0.14
-e git+https://github.com/usc-isi-i2/dsbox-cleaning.git@8fed51ea59925c74be76b000deb7300d08f3d4b5#egg=dsbox_datacleaning
ecos==2.0.5
fancyimpute==0.3.1
fastcache==1.0.2
frozendict==1.2
future==0.16.0
gast==0.2.0
gitdb2==2.0.3
GitPython==2.1.8
grpcio==1.12.1
h5py==2.8.0
html5lib==0.9999999
idna==2.6
imagesize==1.0.0
ipykernel==4.8.2
ipython==6.4.0
ipython-genutils==0.2.0
jedi==0.12.0
Jinja2==2.10
joblib==0.11
jsonpath-ng==1.4.3
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-core==4.4.0
Keras==2.1.6
kiwisolver==1.0.1
knnimpute==0.1.0
langdetect==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
-e git+https://github.com/byu-dml/metalearn.git@e7f3ee28437141ef86bcabf93366c7b41e0cec6d#egg=metalearn
multiprocess==0.70.5
networkx==2.0
numpy==1.13.3
osqp==0.3.0
packaging==17.1
pandas==0.21.1
parso==0.2.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.1.0
pkg-resources==0.0.0
ply==3.11
-e git+https://gitlab.com/datadrivendiscovery/primitive-interfaces.git@d900bbf93747f0dc6fa3f0116a9a041d6a506b43#egg=primitive_interfaces
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
psutil==5.4.5
ptyprocess==0.5.2
Pygments==2.2.0
pynisher==0.4.2
pyparsing==2.2.0
pyrfr==0.8.0
python-dateutil==2.7.3
-e git+https://github.com/Stewori/pytypes.git@3fb6266b5fbdd6913f92357c36ec478f02812644#egg=pytypes
pytz==2018.4
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==17.0.0
regex==2018.6.6
requests==2.18.4
rfc3987==1.3.7
ruamel.yaml==0.15.37
scikit-image==0.14.0
scikit-learn==0.19.1
scipy==1.1.0
scs==2.0.2
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
smac==0.8.0
smmap2==2.0.3
snowballstemmer==1.2.1
Sphinx==1.7.5
sphinx-rtd-theme==0.3.1
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.2.8
stopit==1.1.2
strict-rfc3339==0.7
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
toolz==0.9.0
torch==0.4.0
tornado==5.0.2
torchvision
traitlets==4.3.2
typing==3.6.4
typing-inspect==0.2.0
tzlocal==1.5.1
urllib3==1.22
wcwidth==0.1.7
webcolors==1.7
Werkzeug==0.14.1
