Cerberus==1.1
certifi==2017.11.5
chardet==3.0.4
cycler==0.10.0
-e git+https://gitlab.com/datadrivendiscovery/d3m.git@3e1b8b96295de6f671004dad99dfb57c42e2f223#egg=d3m
-e git+https://gitlab.com/datadrivendiscovery/metadata.git@85484f832f41d8c6b26f92be9447e64b94dc30bb#egg=d3m_metadata
-e git+https://gitlab.com/datadrivendiscovery/metadata.git@602ad963b1602ac8b3f0e50b7b093c3ef3101f65#egg=d3m_types
dateparser==0.6.0
decorator==4.1.2
dsbox-datacleaning==0.1.3
dsbox-dataprofiling==0.1.4
frozendict==1.2
future==0.16.0
grpcio==1.7.3
h5py==2.7.1
idna==2.6
joblib==0.11
jsonschema==2.6.0
langdetect==1.0.7
matplotlib==2.1.0
networkx==2.0
numpy==1.13.3
olefile==0.44
pandas==0.21.0
patsy==0.4.1
Pillow==4.3.0
-e git+https://gitlab.com/datadrivendiscovery/common-primitives.git@617e116a4e0a839df4b049c3cb48dfff14d2a8b8#egg=primitive_examples
-e git+https://gitlab.com/datadrivendiscovery/primitive-interfaces.git@c4601750f2f999ee9b234a17dd948f7ef2271fca#egg=primitive_interfaces
protobuf==3.5.0.post1
pymc3==3.2
pyparsing==2.2.0
python-dateutil==2.6.1
-e git+https://github.com/mitar/pytypes.git@4b984c7c96acced1d0d08d9bfc18795ad512f94f#egg=pytypes
pytz==2017.3
PyWavelets==0.5.2
PyYAML==3.12
regex==2017.12.9
requests==2.18.4
rfc3987==1.3.7
ruamel.yaml==0.15.35
scikit-image==0.13.1
scikit-learn==0.19.0
scipy==1.0.0
six==1.11.0
sklearn==0.0
SQLAlchemy==1.1.15
strict-rfc3339==0.7
Theano==1.0.1
torch==0.3.0.post4
torchvision==0.2.0
tqdm==4.19.5
typing==3.6.2
tzlocal==1.5.1
urllib3==1.22
webcolors==1.7
