-e git+https://gitlab.com/datadrivendiscovery/metadata.git@602ad963b1602ac8b3f0e50b7b093c3ef3101f65#egg=d3m_types
-e git+https://gitlab.com/datadrivendiscovery/primitive-interfaces.git@c4601750f2f999ee9b234a17dd948f7ef2271fca#egg=primitive_interfaces
-e git+https://gitlab.com/datadrivendiscovery/d3m.git@3e1b8b96295de6f671004dad99dfb57c42e2f223#egg=d3m
#-e git+https://gitlab.com/datadrivendiscovery/common-primitives.git@617e116a4e0a839df4b049c3cb48dfff14d2a8b8#egg=common_primitives
